<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    <h2>Survey Form</h2>

    <form action="/result" method="post">
    <p>Your Name: <input type="text" name="name"></p>

    <p>Dojo Location: <select name = "location">
        <option value = "Burbank">Burbank</option>
        <option value = "San Jose">San Jose</option>
        <option value = "Chicago">Chicago</option>
    </select></p>

    <p>Favorite Language: <select name = "language">
        <option value = "Node">Node</option>
        <option value = "Python">Python</option>
        <option value = "Java">Java</option>
    </select></p>

    <p>Comment: <input type="text-area" name = "comment"></p>

    <input type="submit" value="Submit">

    </form>
</body>
</html>